body{
    margin:0px;
    padding:0px;
}

/* .posi{
    position: relative;
} */

/* .resize{
    position: relative;
    height: 100%;
    /* width: 100%;
    padding-top: calc(300/244*100); */
/* }
.resize img{
    position: absolute;
    height: 100%;
    /* width: 100%; */
    /* top: 0;
} */
/* .resize img{
    position: absolute;
    height: 100%;
    /* width: 100%; */
    /* top: 0;
/* } */ 